config SHIELD_THORNE_LEFT
   def_bool $(sheilds_list_contains, thorne_left nice_view_adapter nice_view)

config SHIELD_THORNE_RIGHT
   def_bool $(sheilds_list_contains, thorne_right nice_view_adapter nice_view)